.show__tab {
    display: none;
    width: 100%;
    position: absolute;
    justify-content: space-around;
    left: 0;
    margin-right: 0;
    padding-top: 50px;
    margin-top: 5px;
    background-color: white;
    height: 325px;
    transition: all 3s;

    &--container {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    &--btn {
        width: 65px;
    }

    nav ul li a {
        color: #111;
        font-size: 12px;
        line-height: 25px;
        cursor: pointer;
    }

    nav ul,
    li {
        display: block;
    }

    &--title {
        color: #111;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        margin-bottom: 18px;
    }
}

.navbar--list:hover .show__tab {
    display: flex;
    width: 100%;
}

.navbar--options {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        margin-top: 0;
        display: block;
        width: 0;
        background-color: #58006D;
        border-radius: 10px;
        height: 3px;
        z-index: 1;
        transition: width 0.3s ease-out;
    }

    &:hover::after {
        width: 100%;
    }
}

ul li .show__tab--list {
    display: flex;
    justify-content: start;
    flex: auto;
}

ul li .show__tab--list-itens {
    width: 306px;
}

.list__btn {
    margin-right: 10px;
}

.show__tab--list>li {
    border-radius: 30px;
    border: 1px solid #767676;
    margin: 4px;
    text-align: center;
    height: 35px;

    button {
        color: #111;
        background-color: #FFF;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        line-height: 35px;
        background: transparent;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.show__tab--list li button:hover,
.show__tab--container nav ul li a:hover {
    color: #767676;
}

@media(max-width: 1400px) {
    .show__tab--container {
        width: 90%;
    }
}