.filter__button {
  color: #58006D;
  font-size: 14px;
  letter-spacing: 0.93px;
  line-height: 17px;
  box-sizing: border-box;
  height: 35px;
  width: 250px;
  border-radius: 30px;
  border: 1px solid #58006D;
  background: #EEE;
  transition: background-color 0.3s ease, color 0.3s ease; }
  .filter__button:hover {
    background-color: #58006D;
    color: #EEE; }
