footer {
  background-color: #EEE;
  padding-top: 40px; }

.footer {
  background-color: #EEE;
  padding-top: 5%;
  padding-bottom: 4%; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px; }
    .footer__container--text {
      margin-bottom: 0;
      margin-top: 2px;
      padding-top: 25px;
      padding-bottom: 25px;
      background-color: #EEE; }
  .footer__promotion {
    position: relative;
    width: 42%; }
  .footer__title {
    color: #111;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 18px; }
    .footer__title--space {
      padding-top: 22%; }
  .footer__title-primary {
    color: #111;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 27px;
    margin-bottom: 33px; }
  .footer__list--options a {
    text-decoration: none;
    color: #111;
    font-size: 12px;
    line-height: 25px; }
    .footer__list--options a:hover {
      text-decoration: underline;
      transition: all 0.3s ease-out; }
  .footer__img-bank {
    width: 100%; }
  .footer__text {
    color: #767676;
    font-size: 14px;
    font-style: italic;
    line-height: 17px; }

.promotion__mail {
  border-radius: 30px;
  height: 45px;
  border: none;
  outline: none;
  background-color: #FFF;
  width: 94%;
  padding-left: 5%;
  position: absolute; }

.promotion__btn {
  border-radius: 30px;
  height: 45px;
  background-color: #58006D;
  border: 1px solid #58006D;
  color: #EEE;
  position: absolute;
  width: 35%;
  right: 0;
  transition: background-color 0.3s ease, color 0.3s ease; }
  .promotion__btn:hover {
    background-color: #EEE;
    color: #58006D; }

.social-midias__list {
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
  padding-top: 25%; }

.footer__icon-facebook {
  color: #58006D;
  font-size: 23px; }

.footer__icon-twitter {
  color: #58006D;
  font-size: 25px; }

@media (max-width: 1170px) {
  .social-midias__list {
    width: 44%; }
  .footer__delivery-payment {
    width: 28%; }
  .footer__img-bank {
    width: 100%; } }
