.slick__caroussel {
  float: right;
  width: 65%;
  position: relative; }
  .slick__caroussel__img {
    width: 100%; }
  .slick__caroussel__banner {
    position: absolute;
    width: 26%;
    padding-top: 8%;
    padding-left: 7%;
    top: 0; }
    .slick__caroussel__banner__title {
      color: #EEE;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 4px;
      line-height: 24px;
      margin-bottom: 12px; }
    .slick__caroussel__banner__text {
      color: #EEE;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 15px;
      margin-bottom: 28px; }
    .slick__caroussel__banner__btn {
      border-radius: 30px;
      background-color: #EEE;
      width: 100%;
      height: 35px;
      color: #58006D;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.8px;
      line-height: 15px;
      text-transform: uppercase;
      transition: background-color 0.3s ease, color 0.3s ease; }
    .slick__caroussel__banner__btn:hover {
      color: #EEE;
      background-color: #58006D; }

.slick-active #slick-slide-control00,
.slick-active #slick-slide-control01 {
  background: #EEE;
  opacity: inherit; }

#slick-slide-control00,
#slick-slide-control01 {
  color: transparent;
  border-radius: 100%;
  border: none;
  margin-right: 5px;
  opacity: 0.5;
  height: 12px;
  width: 1px;
  border: 1px solid #111;
  background: #EEE; }

.slick-dots {
  position: absolute;
  bottom: 6px;
  display: flex;
  left: 50%; }

.degrade {
  background: linear-gradient(to right, #111, transparent);
  width: 100%;
  height: 100%;
  position: absolute; }

.arrows {
  position: absolute;
  bottom: 5%;
  background-color: transparent; }

.next_caro {
  right: 9%; }

.previous_caro {
  right: 2%; }

@media (max-width: 1180px) {
  .slick__caroussel__banner {
    padding-top: 4%;
    padding-left: 5%;
    width: 31%; } }
